#probDensityPlot{
	width:450px;
	height:200px;
	float: left;
}

#plotContainer{
	width:450px;
	height: 400px;
	margin: 40px;
	float:left;
}

#histogramContainer{
	border: solid;
	height: 150px;
	width: 300px;
	float: left;
	margin-left: 75px;
	margin-bottom: 20px;

}

#screen{
	border: solid;
}

#buttonContainer{
	position:absolute;
	margin: 20px;
}

#screenContainer{
	float:left;
	margin: 20px;
	height:380px;
}

#container{
	width: 95%;
	position:relative;
	margin: auto;
}

#sliders{
	position:absolute;
	top:350px;
	margin: auto;
	left:15%;
	
}

h1{
	margin:20px;
}

.reading{
	float:left;
}
.slider{
	float: left;
}